.libroCard {

    border-radius: 10%;
    width: 400px;
    height: 700px;
    padding: 5rem;
    margin: 3rem;

}

#productosCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.cardImagen {
    width: 500px;
    height: 400px;
}

header {
    background-color: rgb(142, 113, 142);

}

#productosEnVenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#productosEnVenta h1 {
    font-weight: none;
}

.selectFiltrar {
    width: 600px
}

#carrito {
    display: inline-block;
    height: 600px;
    width: 600px;
    background-color: #faf3dd;
    border-radius: 10%;
    margin: 3rem 10rem;
}

.carritoH4 {
    display: flex;
    flex-direction: row;
}

#bienvenida img {
    width: 100%;
    height: auto;
}

#bienvenida h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bienvenida p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;

}